#container{
    font-family: Helvetica,sans-serif;
    text-align:center;
    font-size: 2rem;
}
button{
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: dimgrey;
    color: aliceblue;
    cursor: pointer;
}
button:hover{
    background-color: rgb(80, 80, 80);
}
button:active{
    background-color: black;
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;

}
#diceResult{
    margin: 25px;
}
diceImages img{
    width: 15px;
    margin: 5px;
}

body {
    background-color: rgb(125, 125, 191);
}
